<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giroscopioapp">

    <!-- Permissões necessárias para acessar sensores -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false" />



    <application
        android:allowBackup="true"
        android:label="Giroscópio App">

        <!-- Declaração da Activity principal -->
        <activity
            android:name="org.golang.app.GoNativeActivity"
            android:label="Giroscópio App">
            <meta-data android:name="android.app.lib_name" android:value="breakout" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
			    <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
        </activity>

    </application>

</manifest>
